* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

*{
    box-sizing: border-box;
}


:root {
    --color1: #D89584;
    --color2: #F4F4F4;
    --color3: #e7e4e4;
}

body {
    margin: 0;
    font-family: Arial;
    line-height: 1.5;
    background-color: var(--color2);
}

iframe.contact {
    width: 100%;
    border: none;
    height: 350px;
}
iframe.header {
    width: 100%;
    border: none;
    height: 90px;
}

div.cover {
    background: url(images/cover_overlay.png) no-repeat center/100% 100%,url(images/cover.jpg) no-repeat center/cover;
    height: 360px;
    position: relative;
}

img.cover-profile {
    height: 180px;
    position: relative;
    left: 50%;
    margin-left: -90px;
    margin-top: 15px;
}

h1 {
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: 10px;
    margin-bottom: 0px;
}

div.separation1{
    background: url(images/triangle2white.svg) no-repeat center bottom -1px/100%;
    padding-bottom: 180px;
    margin-top: 0px;
}
div.section-grise1 {
    background-color: var(--color2);  
}
div.separation2 {
    background: url(images/triangle1white.svg) no-repeat center top/100%;
    padding-top: 180px;
    margin-bottom: 0px;
}

.menu{
    height:50px;
    overflow:visible;
}

*.titre{
    background-color: var(--color1);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

nav{
    width: 100%;
    height:50px;
    background-color:lightgray;
    margin-top:-8px


}



nav a{
    display:block;
    height:100%;
    text-decoration: none;
    color: var(--color1);
    padding:12px 0;
}

nav ul{
    display : inline;
    margin : 0;
    padding : 0;
    list-style-type:none;

}
.menu1 li{
    float:left;
    width:25%;
    text-align: center;
    height:100%;
    border:solid 1px var(--color1);
    font-weight: bold;
    position:relative;
}
nav li:hover{
    background-color: black;
    text-decoration: underline var(--color1);
}
nav ul::after{
    content:"";
    display : table;
    clear:both;
}
.sous{
    background-color: lightgray;

    display:none;
    box-shadow:10px 10px 5px #CCC;
    position:absolute;
    width:100%;
    z-index: 1000;
}
.sous li{
    float:none;
    width:100%;
    text-align: left;
}
.sous a{
    padding:10px;
    border-bottom:none;
}
.sous a:hover{
    border-bottom: none;
    background-color: black;
}
nav > ul li:hover .sous{
    display:block;
}
.menu1 >a::after{
    content:"▼";
    font-size: 12px;
}
div.cover p {
    color: lightgray;
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
}

div.cover-contact {
    /* background-color: #FF000080; */
    position: absolute;
    top: 20px;
    left: 10px;
    border-left: 4px solid var(--color1);
    padding-left: 8px;
}

div.cover-contact p {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.cover-contact p:first-child {
    margin-bottom: 14px;
}

div.cover-contact * {
    color: white;
    font-size: 14px;
}

a.contact-button {
    color: var(--color1);
    border: 3px solid var(--color1);
    padding: 8px 20px;
    text-decoration: none;
    background-color: #00000040;
    display: inline-block;
    margin-top: 18px;
    font-size: 14px;
    border-radius: 20px;
}

a.contact-button-portfolio {
    position: absolute; 
    right: 20px; 
    top:5px;
}

a.contact-button:hover {
    background-color: black;
    font-weight: bold;
}

.section {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;
    background-color: white;
}



div.section-grise2 {
    background-color: var(--color2);    
}
div.fin{
    height:400px;
    background: url(images/triangle2white.svg) no-repeat center bottom -1px/100%;
    background-color: var(--color2);
    padding-bottom: 70px;
    margin-top: -115px;
}
h2 {
    text-align: center;
    font-size: 34px;
    margin-top: 0px;
    padding-bottom: 20px;
}

div.separateur {
    background-color: #979797;
    height: 1px;
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -75px;
    margin-bottom: 20px;  
}

div.section-grise1 p {
    font-size: 22px;
    color: #656565;
    text-align: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

img.col-contenu {
    width: 30%;
}

div.col-contenu {
    width: 70%;
    padding-left: 16px;
}

.float-right {
    float: right;
}

div.texte-avec-ligne-verticale {
    border-left: 4px solid var(--color1);
    padding-left: 8px;
    height: 70px;
    display: inline-block;
    margin-top: 0px;
}

div.texte-avec-ligne-verticale p {
    margin-top: 0px;
}

div.barre-verticale {
    height: 50px;
    width: 4px;
    background-color: var(--color1);
    margin-right: 8px;
}

.col-portfolio {
    width: 47%;

}

div.frame {
    margin: 0px 50px;
    padding: 20px 30px;
    background-color: white;
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);

}

p.frame-title {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

div.frame img {
    width: 100px;
}



/* PORTFOLIO */
.portfolio-header {
    height: 90px;
    background: url(images/header.jpg) no-repeat center/cover;
    position: relative;
    margin-bottom :0px;
}

.portfolio-header-title {
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding-top: 4px;
    padding-left: 8px;
}

h1.portfolio {
    font-size: 46px;
    color: black;
    line-height: 1;
    padding-top: 10px;
}

h2.portfolio {
    font-size: 26px;
    color: black;
    font-weight: normal;
    margin-bottom: 0;
}

a.portfolio-back {
    color: var(--color1);
    margin-left: -10px;
}

img.portfolio {
    width: 70%;
    max-width: 475px;
}
div.portfolio-detail{
    width: 100%;
    text-align: center; 
    margin-top: 30px;
    
}

img.portfolio-detail{
    width:80%;
    max-width: 1000px;
    text-align:center
}

.display-mobile {
    display: none;
}

/* CV */

h3{
    font-size: 26px;
    color: var(--color1);
    margin-bottom: 10px;
    text-decoration: underline;
}

div.logo img{
    height:70px;
    width: auto;
}
div.logo {
    height:70px;
    margin-left:200px;
}

img.drapeau{
    width:40px;
    height:auto
}

.bullet {
    list-style-type: disc;
    margin-left : 25px;
    margin-bottom: 5px;
}

li{
    margin-bottom: 0px
}

*.CVgroupe{
    padding-bottom: 20px;
    padding-left: 10px
}

.flex{
    display:flex;
}
.flex100{
    flex-basis: 150px;
    text-align : right;
    margin-right:5px
}
td.down{
    padding-bottom: 10px;
}


/* Contacts */ 

div.contactgroupe{
    padding-bottom: 40px;
    padding-left: 10px;
    width:100%;
    margin-bottom: 50px;
}

div.contactgroupe img{
    height:70px;
    width: auto;
}
div.contactgroupe td{
    vertical-align:middle;
    padding-right: 30px;
}
td.col1{
    width:90px
}

div.contactgroupe table{
    width:100%;
}

/* RESPONSIVE DESIGN : MOBILE */
@media only screen and (max-width: 767px) {
    img.cover-profile {
        height: 90px;
        margin-top: 75px;
    }
    
    h1 {
        font-size: 38px;
        margin-top: 6px;
        margin-bottom: 0px;
    }
    
    div.cover p {
        margin-top: 2px;
        font-size: 13px;
    }

    .section {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    div.section-grise1 {
        padding-bottom: 40px;
    }

    h2 {
        font-size: 30px;
    }

    img.col-contenu {
        width: 100%;
    }
    
    div.col-contenu {
        width: 100%;
        padding-left: 0px;
        margin-top: 20px;
    }

    .col-portfolio {
        width: 100%;
        margin-bottom: 20px;
    }

    div.frame {
        margin: 0px 0px;
        padding: 0px 0px;
        box-shadow: none;
    }

    div.frame img {
        width: 70px;
    }

    /* POSTFOLIO - MOBILE */
    .portfolio-header-title {
        font-size: 19px;
        padding-top: 10px;
        padding-left: 4px;
    }

    a.contact-button {
        padding: 7px 12px;
        margin-top: 22px;
        font-size: 12px;
    }

    a.contact-button-portfolio {
        right: 12px; 
    }

    h1.portfolio {
        font-size: 40px;
    }
    
    h2.portfolio {
        font-size: 22px;
    }

    img.portfolio {
        width: 100%;
    }

    .display-mobile {
        display: block;
    }
}
